<div class="welcome">
	<div class="row">
		Ebyokola
	</div>
</div>
<div class="container" *ngIf="login">
	<div class="text-success" *ngIf="welcomeMessage">{{welcomeMessage}}</div>
	<div class="text-danger" *ngIf="errorMessage && errorMessage.non_field_errors">{{errorMessage.non_field_errors}}</div>
	<!--Naked Form-->
	<div class="card-block">

		<!--Header-->
		<div class="text-xs-center">
			<h3><i class="fa fa-lock"></i> Login:</h3>
			<hr class="mt-2 mb-2">
		</div>

		<!--Body-->
		<div class="md-form">
			<i class="fa fa-user prefix"></i>
			<input type="text" name="username" [(ngModel)]="username" class="form-control">
			<label for="username">Your username</label>
			<div class="text-danger" *ngIf="errorMessage && errorMessage.username">{{usernameError}}</div>
		</div>

		<div class="md-form">
			<i class="fa fa-lock prefix"></i>
			<input type="password" name="password" [(ngModel)]="password" class="form-control">
			<label for="form4">Your password</label>
			<div class="text-danger" *ngIf="errorMessage && errorMessage.password">{{passwordError}}</div>
		</div>

		<div class="text-xs-center">
			<button class="btn btn-deep-purple" (click)="loginUser()">Login</button>
		</div>

	</div>

	<!--Footer-->
	<div class="modal-footer">
		<div class="options">
			<p>Not a member? <a (click)="onRegister()">Sign Up</a></p>
		</div>
	</div>
	<!--Naked Form-->
</div>

<div class="container" *ngIf="!login">
	<!--Naked Form-->
	<div class="card-block">

		<!--Header-->
		<div class="text-xs-center">
			<h3><i class="fa fa-user"></i> Register:</h3>
			<hr class="mt-2 mb-2">
		</div>

		<!--Body-->
		<div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" name="username" [(ngModel)]="username" class="form-control">
            <label for="username">Your username</label>
			<div class="text-danger" *ngIf="errorMessage && errorMessage.username">{{usernameError}}</div>
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" name="password" [(ngModel)]="password" class="form-control">
            <label for="form4">Your password</label>
			<div class="text-danger" *ngIf="errorMessage && errorMessage.password">{{passwordError}}</div>
        </div>

		<div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control">
            <label for="form4">Confirm password</label>
			<div class="text-danger" *ngIf="password != confirmPassword">Passwords do not match</div>
        </div>

        <div class="text-xs-center">
            <button class="btn btn-indigo" (click)="registerUser()" [disabled]="password != confirmPassword">Sign up</button>
			<button class="btn btn-success" (click)="onLogin()">Log In</button>
        </div>

	</div>
	<!--Naked Form-->
</div>
